.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

*.[tT][mM][pP]
*.[dD][oO][cC]
*.[dD][oO][cC][xX]

todo.R

papeleos/
Trabajo de campo/
Manuscripts/
mapas-imagenes/
Results/
Datos/prepared_data
Datos/raw-nogithub
1.archive/